body{
    background:#f4f7fc;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}

/* Sidebar */

.bg-dark{
    background:#1e293b !important;
}

.nav-link{
    color:#fff !important;
    border-radius:10px;
    margin-bottom:8px;
    transition:.3s;
}

.nav-link:hover{
    background:#0d6efd;
    padding-left:18px;
}

/* Cards */

.card{
    border:none;
    border-radius:20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

/* Buttons */

.btn{
    border-radius:10px;
}

.btn-primary{
    background:#2563eb;
}

.btn-success{
    background:#16a34a;
}

.btn-warning{
    color:#fff;
}

.btn-danger{
    background:#dc2626;
}

/* Table */

table{
    border-radius:15px;
    overflow:hidden;
}

thead{
    background:#2563eb;
    color:white;
}

tbody tr:hover{
    background:#eef5ff;
}

/* Form */

.form-control{
    border-radius:10px;
}

.form-control:focus{
    box-shadow:none;
    border:2px solid #2563eb;
}

/* Dashboard */

h2{
    font-weight:bold;
}

h3{
    font-weight:bold;
}

canvas{
    max-height:320px;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#2563eb;
    border-radius:10px;
}

::-webkit-scrollbar-track{
    background:#ddd;
}
body{
    background:#f4f7fc;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}

/* Sidebar */

.bg-dark{
    background:#1e293b !important;
}

.nav-link{
    color:#fff !important;
    border-radius:10px;
    margin-bottom:8px;
    transition:.3s;
}

.nav-link:hover{
    background:#0d6efd;
    padding-left:18px;
}

/* Cards */

.card{
    border:none;
    border-radius:20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

/* Buttons */

.btn{
    border-radius:10px;
}

.btn-primary{
    background:#2563eb;
}

.btn-success{
    background:#16a34a;
}

.btn-warning{
    color:#fff;
}

.btn-danger{
    background:#dc2626;
}

/* Table */

table{
    border-radius:15px;
    overflow:hidden;
}

thead{
    background:#2563eb;
    color:white;
}

tbody tr:hover{
    background:#eef5ff;
}

/* Form */

.form-control{
    border-radius:10px;
}

.form-control:focus{
    box-shadow:none;
    border:2px solid #2563eb;
}

/* Dashboard */

h2{
    font-weight:bold;
}

h3{
    font-weight:bold;
}

canvas{
    max-height:320px;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#2563eb;
    border-radius:10px;
}

::-webkit-scrollbar-track{
    background:#ddd;
}